app/**/*.rb
lib/**/*.rb
spec/**/*.rb
config/initializers/**/*.rb
--exclude app/views/**
--exclude app/javascript/**
--exclude app/assets/**
--exclude public/**
--exclude config/*.yml
--exclude config/credentials*
--exclude tmp/**
--exclude storage/**
--exclude vendor/**