<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipe searches" %>

<h1>Recipe searches</h1>

<div id="recipe_searches">
  <% @recipe_searches.each do |recipe_search| %>
    <%= render recipe_search %>
    <p>
      <%= link_to "Show this recipe search", recipe_search %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe search", new_recipe_search_path %>
