<% content_for :title, "New Recipe Search" %>

<h1>New Recipe Search</h1>

<%= render "form", recipe_search: @recipe_search %>

<br>

<div>
  <%= link_to "Back to recipe searches", recipe_searches_path %>
</div>
