<h1>Dashboard of <%= current_user.first_name %> <%= current_user.last_name %></h1>
<h2>(<%= current_user.email %>)</h2>

<%= button_to "Manage Ingredient Lists", ingredient_lists_path, method: :get %>


